:root {
  --green-light: hsl(148, 38%, 91%);
  --green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 56%);
  --white: hsl(0, 0%, 100%);
  --grey-medium: hsl(186, 15%, 59%);
  --grey-dark: hsl(187, 24%, 22%);
  --fs-big: 20px;
  --fs-normal: 16px;
  --fs-small: 14px;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Karla-Italic";
  src: url("../fonts/Karla-Italic-VariableFont_wght.ttf");
}
html {
  font-family: "Karla Karla-Italic";
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  color: var(--grey-dark);
  height: calc(100dvh - 20px);
}
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--green-light);
}
main {
  margin: auto;
}
form {
  padding: 14px;
  background-color: var(--white);
  border-radius: 8px;
  position: relative;
  display: grid;
  gap: 16px;
}
h2 {
  margin: 0;
}
label {
  color: var(--grey-dark);
}
input[type="submit"] {
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: var(--green);
  color: var(--white);
  font-weight: var(--fw-medium);
  font-size: var(--fs-small);
  box-shadow: none;
  text-decoration: none;
  padding: 10px 18px;
  cursor: pointer;
}
.label-required::after {
  content: "  *";
  color: var(--green);
  font-size: var(--fs-small);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: var(--grey-medium);
  outline-color: var(--grey-medium);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  color: var(--grey-dark);
}
.input-radio-container {
  width: 100%;
  padding: 10px 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: var(--grey-medium);
  outline-color: var(--grey-medium);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
input[type="text"]:hover,
input[type="text"]:focus-visible,
input[type="text"]:focus,
input[type="email"]:hover,
input[type="email"]:focus-visible,
input[type="email"]:focus,
textarea:hover,
textarea:focus,
textarea:focus-visible,
button,
label[for="generalEnquiry"]:hover,
label[for="supportRequest"]:hover,
label[for="generalEnquiry"]:focus,
label[for="supportRequest"]:focus {
  border-color: var(--green);
  outline-color: var(--green);
  outline: none;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.radio-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}
input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
label[for="consent"] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}
.label-checked {
  background-color: var(--green-light);
}
.checkmark {
  width: 14px;
  height: 14px;
  border: solid 2px;
  border-color: var(--grey-medium);
  border-radius: 20px;
}
.checkmark-checkbox {
  border-radius: 4px;
}
input[type="radio"]:checked + label {
  background-color: var(--green-light);
}
input[type="radio"]:checked + label .checkmark {
  background-image: url("../images/icon-radio-selected.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border-color: transparent;
}

input[type="checkbox"]:checked + label .checkmark {
  background-image: url("../images/icon-checkbox-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border-color: transparent;
  border-radius: 6px;
}
.toast {
  position: absolute;
  background-color: var(--grey-dark);
  color: var(--white);
  padding: 18px 18px;
  top: -300px;
  left: 0;
  max-width: 400px;
  border-radius: 8px;
}
.toast.success {
  animation: slidedown 500ms;
  top: 8px;
}
.message-sent-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.bold {
  font-weight: var(--fw-bold);
}
.error {
  font-size: var(--fs-small);
}
span.error {
  color: var(--red);
}
.hidden {
  visibility: hidden;
}
input:valid ~ .error,
textarea:valid ~ .error {
  display: none;
}
input:invalid.error,
textarea:invalid.error {
  border-color: var(--red);
  outline-color: var(--red);
}
.show {
  display: block;
}
.none {
  display: none;
}
.attribution {
  font-size: var(--fs-small);
  text-align: center;
  width: 100%;
  height: 20px;
}
@media (width > 650px) {
  body {
    display: flex;
    height: 100%;
    overflow: hidden;
    justify-content: center;
  }
  form {
    position: inherit;
    padding: 40px;
    width: 600px;
    max-width: 600px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .radio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-col-span-2 {
    grid-column: span 2;
  }
  .flex-row {
    flex-direction: row;
  }
  .toast {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@keyframes slidedown {
  from {
    top: -300px;
  }
  to {
    top: 8px;
  }
}
